extends layout

block headline
  p 在这里添加房源信息

block content
  form(method='post', role='form')
    .form-group
      label(for='titleInput')  标题:
      input#titleInput.form-control(type='text', name='title', placeholder='输入标题')
    .form-group
      label(for='priceInput') 价格:
      input#priceInput.form-control(type='number', name='price', placeholder='价格')
    .form-group
      label(for='urlInput') 原文URL:
      input#urlInput.form-control(type='url', name='url')
    button.btn.btn-default(type='submit') 添加

block sidebar
    p
      | 困困~~

