doctype 5
html
  head
    title #{title} - 嘟嘟租房 个人房源 中介勿扰
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 嘟嘟租房 - 个人房源出租平台
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
